@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Lekton:ital,wght@0,400;0,700;1,400&family=Monda:wght@400;700&family=Oswald:wght@200;300;400;500;600;700&display=swap');
/*
Headings
font-family: 'Monda', 'Oswald', sans-serif;

Paragraphs
font-family: 'Courier Prime', monospace;

Important stuff that's not headings? Asides?
font-family: 'Lekton', sans-serif;
*/

body {
    font-family: 'Courier Prime', monospace;
    text-align: center;
    background-color:#4DCCBD;
    color: #4DCCBD;
    margin: 0;
}

header {
    z-index: 10;
    background-color: #4DCCBD;
    padding-bottom: 20px;
    width: 100%;
    position: -webkit-sticky; /* Safari */  
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 140px auto;
}

img.logo {
    width: 100px;
}

#logo_link {
    grid-column: 1/2;
    grid-row: 1/3;
    padding-top: 20px;
    justify-self: center;
    align-self: center;
}

header h1 {
    padding-top: 20px;
    font-size: 40px;
    line-height: 30px;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    position: relative;
    left: -70px;
    color: #F5F5F5;
}

nav {
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;
    left: -70px;
}

nav a {
    margin-top: 0;
    font-size: 20px;
    color: #95F9E3;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

nav a:hover {
    background-color: #95F9E3;
    color: #4DCCBD;
}

footer {
    background-color: #4DCCBD;
    padding: 20px;
}

main {
    padding: 20px;
    padding-bottom: 40px;
    background-color: #3C3C3B;
}

h1, h2, h3, h4 {
    font-family: 'Monda', 'Oswald', sans-serif;
    color: #4DCCBD;
}

.box h1, .box h2, .box h3, .box h4 {
    color: #3C3C3B;
}

.abnormal {
    font-family: 'Lekton', sans-serif;
}

.box {
    background-color: #F5F5F5;
    color: #3C3C3B;
    width: 70%;
    padding: 20px;
    border-radius: 15px;
    margin: auto;
    overflow-wrap: break-word; /* prevents any "words" (repeating e 1,000 times, keyboard smash, etc.) that are too long spilling out of the box */
}

.box.invis {
    background-color: #3C3C3B;
}

.box .abnormal {
    color: #3C3C3B;
}

span.italics {
    font-style: italic;
}

footer {
    background-color: #4DCCBD;
    color: #3C3C3B;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: #3C3C3B;
    text-decoration: none;
}

footer a:hover {
    color: #F5F5F5;
}

footer .social img {
    padding-top: 15px;
}

img.me {
    border-radius: 15px;
    filter: drop-shadow(-10px 10px 15px #4dccbd);
}

.home_grid {
    display:grid;
    grid-template-columns: 1fr 1fr; 
    margin-top: 8%;
    padding: 0;
    font-size: 20px;
}

.background {
    grid-column: 1/4;
    grid-row: 1/5;
    padding: 25px;
    font-size: 20px;
    height: 180%;
    width: 100%;
    box-shadow: -20px 20px 50px #000000;
}

img.me.me1 {
    z-index: 1;
    grid-column: 1/2;
    grid-row: 1/4;
    max-width: 120%;
    margin-left: -25%;
    margin-top: -20%;
}

h1.hello {
    font-size: 50px;
    color: #4DCCBD;
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0;
}

.intro {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
    padding: 0;
}

.intro_1 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.intro_2 {
    grid-column: 1/3;
    grid-row: 4/5;
    max-width: 70%;
    margin: 25px auto 25px auto;
}

.intro_3 {
    grid-column: 1/2;
    grid-row: 5/6;
    margin-right: -15%;
    margin-left: 10%;
}

img.me.me2 {
    z-index: 1;
    grid-column: 2/3;
    grid-row: 5/6;
    max-width: 140%;
    max-height: 70%;
    margin-left: 25%;
}

/* Blog stuff */

.box.blog {
    text-align: left;
    width: fit-content;
    max-width: 50%;
    box-shadow: -10px 10px 30px #000000;
    padding-top: 5px;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.box h3 {
    font-size: 20px;
}

img.coco {
    position: relative;
    top: -50px;
    float: right;
    width: 40%;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 20px;
}

img.flowers {
    width: 70%;
    border-radius: 15px;
    margin: auto;
    display: block;
    margin-bottom: 40px;
}

.box.flowers {
    padding-left: 50px;
    padding-right: 50px;
}

/* Gallery stuff */

.gallery-box {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}

.gallery-box .img-holder {
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 15px #4dccbd;
    border-radius: 15px;
}

.img-holder img{
    max-width: 100%;
    max-height: 160px;
    margin-bottom: 5px;
    filter: drop-shadow(0px 0px 10px #000000);
}

.img-holder h4 {
    margin-top: 0;
}

.gallery-box a div:hover {
    background-color: #95F9E3;
}
.gallery-box a div:hover img {
    max-width: 110%;
    max-height: 170px;
    margin-bottom: 0px;
    filter: drop-shadow(0px 0px 15px #118b7d);
}

.gallery-box a {
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .home_grid {
        display:grid;
        grid-template-columns: 1fr 1fr; 
        margin-top: 6%;
        padding: 25px;
        font-size: 16px;
    }
    
    .background {
        grid-column: 1/4;
        grid-row: 1/5;
        padding: 25px;
        font-size: 20px;
        height: 135%;
        width: 100%;
    }
    
    img.me.me1 {
        z-index: 1;
        grid-column: 1/2;
        grid-row: 1/4;
        max-width: 120%;
        margin-left: -25%;
        margin-top: -20%;
    }
    
    h1.hello {
        font-size: 50px;
        color: #4DCCBD;
        margin: 0;
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 0;
    }
    
    .intro {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 0;
        padding: 0;
    }
    
    .intro_1 {
        grid-column: 1/3;
        grid-row: 3/4;
        margin-left: 10%;
    }
    
    .intro_2 {
        grid-column: 1/3;
        grid-row: 4/5;
        max-width: 100%;
        margin-left: 10%
    }
    
    .intro_3 {
        grid-column: 1/2;
        grid-row: 5/6;
        margin-right: -25%;
        margin-left: 16%;
    }
    
    img.me.me2 {
        z-index: 1;
        grid-column: 2/3;
        grid-row: 5/6;
        max-width: 140%;
        max-height: 70%;
        margin-left: 35%;
    }

    /* Blog stuff */

    .box.blog {
        text-align: left;
        width: fit-content;
        max-width: 85%;
        box-shadow: -10px 10px 30px #000000;
        padding-top: 5px;
    }

    .box h3 {
        font-size: 20px;
    }
    
    img.coco {
        position: relative;
        top: -50px;
        float: right;
        width: 50%;
        border-radius: 15px;
        margin-left: 10px;
        margin-right: 0;
    }
    
    img.flowers {
        position: relative;
        top: -50px;
        float: right;
        width: 50%;
        border-radius: 15px;
        margin-left: 10px;
        margin-bottom: 0;
    }

    .box.flowers {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Gallery Stuff */

    .gallery-box {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
        margin: auto;
    }

}

/*gets weird at 478px and smaller, need to figure that out*/